<% provide(:title, 'Current') %>
<% provide(:layout_type, 'feed') %>
<% provide(:selected_nav, 'home') %>
<% provide(:selected_tab, 'current') %>

<div id="items">
  <% if @items.present? %>
    <%= render partial: 'items/item',
      collection: @items,
      as: :item
    %>
    <%= render 'shared/paging', page: @page, pages: @pages, page_to: '/' %>
  <% else %>
  <div>ありません</div>
  <% end %>
</div>

<%= render 'items/new_button_1' %>