<% provide(:layout_type, 'header_text') %>
<% provide(:title, 'Home - following') %>
<% provide(:header_text, 'Home - following') %>
<% provide(:selected_nav, 'home') %>

<div id="items">
  <%= render partial: 'items/item',
    collection: @items,
    as: :item,
    locals: {reactions: @reactions}
  %>
  <%= render 'shared/paging', page: @page, pages: @pages, page_to: '/' %>
</div>