/*
 *= require_tree .
 *= require_self
 */

:root {
  /* Main Settings */
  --color-1: white;
  --color-2: black;
  /* ↓ For Light Mode Color Palet (難しい) ↓ */
  --light-0: #e42626;
  --light-1: #e17051;
  --light-2: #e17051;
  --light-3: #e17051;
  --light-4: #e17051;
  --light-5: #e17051;
  --light-6: #be44be;
  --light-7: #f74f21;
  --light-8: #939393;
  --light-9: #4c4c4c;
  /* ↓ For Dark Mode Color Palet ↓ */
  --dark-0: #f2c384;
  --dark-1: #f77356;
  --dark-2: #95e34e;
  --dark-3: #49e2ff;
  --dark-4: #5095ff;
  --dark-5: #a77eff;
  --dark-6: #ef5dff;
  --dark-7: #ff5d76;
  --dark-8: #ababab;
  --dark-9: #e7e7e7;
}
:root .light-mode {
  --background-color: #cecece;
  --main-background-color: #ffffff;
  --font-color: black;
  --link-color: var(--light-0);
  --border-color: #000000;
  --transparent-background-color: #0000003f;
  --content-color: #fff;
  --shadow-color: #808080;
  --blur-color: #0008;
  --primary-color: blue;
}
:root .dark-mode {
  --background-color: #1d1d1d;
  --main-background-color: #141414;
  --font-color: white;
  --link-color: var(--dark-0);
  --border-color: #fff;
  --transparent-background-color: #00000060;
  --content-color: #141414;
  --shadow-color: #808080;
  --blur-color: #0008;
  --primary-color: darkblue;
}
body {
  margin: 0;
  background: #1d1d1d;
}
a {
  color: var(--link-color);
  text-decoration: none;
  display: inline-block;
}
.success, .notice, .alert, .danger {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 3px;
  position: fixed;
  right: 10px;
  bottom: 70px;
  z-index: 200;
}
.success {
  background-color: #4fff67bb;
}
.notice {
  background-color: #ffed00;
}
.alert {
  background-color: #ff8f00;
}
.danger {
  background-color: #ff403abb;
}
.turbo-progress-bar {
  background: linear-gradient(90deg, rgba(240,164,255,1) 0%, rgba(255,128,156,1) 16%, rgba(255,211,153,1) 36%, rgba(197,250,130,1) 57%, rgba(140,244,255,1) 80%, rgba(166,128,255,1) 100%);
}
::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background-color: #393939;
}
::-webkit-scrollbar-thumb{
  background-color: #bf34ff;
}