
/* item */

.item {
  padding: 10px 5px;
  border-bottom: 1px var(--border-color) solid;
}

/* item-owners */

.item-owners {
}
/* item-owners-account -> ioa */
.item-owners-account {
  display: flex;
  height: 56px;
}
.item-owners-account > *:first-child {
  min-width: 0;
}
/* ioa-link */
.ioa-link {
  display: flex;
  padding: 4px;
}
.ioa-icon {
  border-radius: 24px;
  height: 48px;
  aspect-ratio: 1/1;
  box-shadow: 2px 4px 8px 0px var(--shadow-color);
  object-fit: cover;
  object-position: top center;
  background: linear-gradient(90deg,#747eee,#d453cc 50%,#fe5597);
}
.ioa-profile {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.ioa-name {
  font-size: 24px;
  line-height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ioa-nameid {
  line-height: 18px;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ioa-badges */
.ioa-badges {
  padding: 4px;
  display: flex;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 24px;
  flex-shrink: 20;
}
.ioa-badges div {
  display: inline-block;
}
/* ioa-others */
.ioa-others {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}
.ioa-button-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ioa-button {
  width: 96px;
  padding: 7px 10px;
  border-radius: 10px;
  background-color: #c2c7fca4;
}

/* item-details */

.item-details {
  display: flex;
}
.item-details-date {
  margin-left: auto;
  font-size: 10px;
}

/* item-content */

.item-content {
  color: var(--font-color);
  min-height: 40px;
  padding: 5px;
  overflow-wrap: break-word;
}

/* item-media */

.item-media {
  padding: 5px;
}
.item-image {
  width: 100%;
}

/* item-reactions */

.item-reactions {
  display: flex;
  padding: 4px;
  flex-wrap: wrap;
}
.item-reaction {
  display: flex;
  flex-wrap: wrap;
}

/* item-panel */

.item-panel {
  padding: 4px;
}
input[name="tab_menu"] {
  display: none;
}
.tab_content {
  display: none;
}
/*遺産*/
#tab_replying:checked ~ details #tab_replying_content,
#tab_repliers:checked ~ details #tab_repliers_content,
#tab_quoters:checked ~ details #tab_quoters_content,
#tab_reactions:checked ~ details #tab_reactions_content,
#tab_share:checked ~ details #tab_share_content,
#tab_save:checked ~ details #tab_save_content,
#tab_others:checked ~ details #tab_others_content {
    display: block;
}

/* other */

.item-reply {
  margin-left: 10px;
  border-left: #d453cc 2px solid;
  padding-left: 10px;
}

.item-new-button-1 {
  display: none;
}
.item-new-button-1 a {
  border-radius: 26px;
}
.inb1-container {
  width: 52px;
  height: 52px;
  background: #461919;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 26px;
}
.item-new-button-2{
}
.inb2-container {
  background: var(--button-color);
}

@media (max-width: 699px) {
  .item-new-button-1 {
    display: flex;
    position: fixed;
    right: 16px;
    bottom: 60px;
    border-radius: 26px;
  }
  .nav-ul .item-new-button-2{
    display: none;
  }
}