/* FORM-2 */
.main-container {
  display: flex;
  background-color: var(--background-color);
  color: var(--font-color);
}
main {
  width: calc(100% - 70px);
  border-left: 0.5px solid;
  box-sizing: border-box;
  background-color: var(--main-background-color);
}
.main-header {
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(3px);
  background: var(--blur-color);
  z-index: 10;
}
.main-header-text {
  background: linear-gradient(90deg, #747eee, #d453cc 50%, #fe5597);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
@media (max-width: 699px) {
  /* FORM-1 */
  main {
    border: none;
    width: 100%;
    min-height: 100svh;
    padding-bottom: 46px;
  }
}
@media (min-width: 1000px) {
  /* FORM-3 */
  main {
    border-right: 0.5px solid;
    width: calc(100% - 60px - 100px);
  }
}
.shared-default-layout-in-container {
  width: 100%;
  max-width: 800px;
}
.shared-default-layout-out-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
