/* FORM-2 */
nav {
  width: 70px;
  height: 100svh;
  position: sticky;
  padding: 30px 5px;
  box-sizing: border-box;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  z-index: 110;
}
/* ボタン三種 */
.nav-logo {
  margin-bottom: 60px;
}
.nav-ul {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.nav-menu {
}
/* 5大ボタン */
.nav-li {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-list-container {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.nav-list-container:hover {
  background: #fff4;
}
.nav-list-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-list-logo-svg {
  width: 50px;
  height: 50px;
}
.nav-list-svg {
  width: 36px;
  height: 36px;
}
.nav-list-image-icon {
  width: 36px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 18px;
  display: block;
}
.nav-list-info {
  display: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 699px) {
  /* FORM-1 */
  nav {
    position: fixed;
    top: auto;
    bottom: 0px;
    width: 100%;
    height: 46px;
    padding: 0px;
    backdrop-filter: blur(3px);
    background: var(--blur-color);
  }
  .nav-logo {
    display: none;
  }
  .nav-ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center
  }
  .nav-menu {
    display: none;
  }
  .nav-li {
    height: 41px;
    width: 41px;
  }
  .nav-list-container {
    height: 41px;
    width: 41px;
  }
}
@media (min-width: 1300px) {
  /* FORM-3 */
  nav {
    width: 200px;
  }
  .nav-li {
    width: 190px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .nav-list-container {
    height: 100%;
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .nav-list-icon {
    margin-right: 7px;
  }
  .nav-list-info {
    display: inline-block;
  }
}