<div class='amiverse-index-box'>
  Amiverseにはフロントエンドアプリがあります。at
  <br />
  <a href='https://amiverse.net/'>amiverse.net</a>
  <br />
  このバックエンドアプリでは表示が簡素なものになっています。
</div>
<div class='amiverse-index-box'>
  このサイトからご利用の場合。
  <br />
  <%= link_to 'ログイン', login_path %>
  <br />
  <%= link_to 'サインアップ', signup_path %>
</div>
<div class='amiverse-index-box'>
  その他の情報
  <ul>
    <li><%= link_to 'リソース', resources_path %></li>
  </ul>
</div>