<% provide(:layout_type, 'header_text') %>
<% provide(:title, 'リリースノート') %>
<% provide(:header_text, 'リリースノート') %>


<h1>最新版</h1>
<p>v0.0.0 - まだありません</p>


<h1>安定板</h1>
<p>v0.0.0 - まだありません</p>


<h1>開発版</h1>
<p>v0.0.1 - 基礎</p>


<h1>予定実装</h1>
<p>あくまで予定なので必ず実装されるわけではありません</p>
<ul>
  <li>投票</li>
  <li>テーマ</li>
  <li>動くキャンバス</li>
  <li>ワールド</li>
  <li>ロケーション</li>
  <li>とおりすがり交信</li>
  <li>Ador</li>
  <li>AMVコイン</li>
  <li>プレミアム</li>
  <li>メンバーシップ</li>
  <li>aShop</li>
  <li>商品</li>
  <li>アプリ</li>
  <li>外部API</li>
  <li>oAuth</li>
  <li>AT Protocol</li>
  <li>Nostr</li>
</ul>


<h1>更新履歴</h1>
<h2>v0.0.1 - 基礎</h2>
<p style="color:red;">現在実装中</p>
<p>Pre Alpha Testと以下の実装</p>
<ul>
  <li>アカウント</li>
  <li>アイテム</li>
  <li>クライアント</li>
  <li>セッション</li>
  <li>画像</li>
  <li>音源</li>
  <li>動画</li>
  <li>ロール</li>
  <li>パーミッション</li>
  <li>バッジ</li>
  <li>実績</li>
  <li>絵文字</li>
  <li>リアクション</li>
  <li>フォロー</li>
  <li>ミュート</li>
  <li>ブロック</li>
  <li>メンション</li>
  <li>リプライ</li>
  <li>拡散</li>
  <li>引用</li>
  <li>タグ</li>
  <li>カテゴリ</li>
  <li>トピック</li>
  <li>アカウントリスト</li>
  <li>アイテムリスト</li>
  <li>ワード</li>
  <li>トレンド</li>
  <li>フィード</li>
  <li>通知</li>
  <li>コミュニティ</li>
  <li>メッセージ</li>
  <li>キャンバス</li>
  <li>ActivityPub</li>
</ul>
