<% provide(:layout_type, 'header_text') %>
<% provide(:title, '通知') %>
<% provide(:header_text, '通知') %>

<div>
  <ul>
  <% @notifications.each do |notification| %>
    <li><%= notification.message %></li>
  <% end %>
  </ul>
  <% if @notifications.blank? %>
    <p>通知はありません</p>
  <% end %>
</div>