<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - その他') %>
<% provide(:header_text, '設定 - その他') %>
<% provide(:selected_settings_menu, 'others') %>

<% content_for :settings_content do %>
  <div>お問い合わせ</div>
  <div>バグの報告</div>
  <div>機能のリクエスト</div>
  <%= button_to("ログアウト", logout_path, method: :delete, data: {turbo: false}) %>
<% end %>
<%= render 'settings/listed' %>