<% provide(:layout_type, 'header_text') %>
<% provide(:title, '設定 - セキュリティと権限') %>
<% provide(:header_text, '設定 - セキュリティと権限') %>
<% provide(:selected_settings_menu, 'security_and_authority') %>

<% content_for :settings_content do %>
  <div>ログイン履歴</div>
  <div>セッション一覧</div>
    <div>
      ログイン中のアカウント:
      <% @logged_in_accounts.each do | account | %>
        <br />
        - なまえ：<%= account.name %>
        <br />
        - ID：<%= account.name_id %>
        <br />
      <% end %>
    </div>  
  <%# render 'sessions/session', sessions: @sessions %>
  <div>二段階認証</div>
  <div>連携サービス</div>
<% end %>
<%= render 'settings/listed' %>