aside {
  width: 260px;
  height: 100svh;
  top: 0px;
  position: sticky;
  flex-shrink: 0;
  z-index: 50;
  display: none;
}

@media (min-width: 1000px) {
  aside {
    display: inline-block;
  }
}
@media (min-width: 1150px) {
  aside {
    width: 340px;
    display: inline-block;
  }
}