<% provide(:title, 'サインアップ') %>
<% provide(:main_header_text, 'サインアップ') %>
<% provide(:layout_type, 'header_text') %>

<h1>おめでとうございます！</h1>
<h2>アカウントが作成されました。</h2>
<p>アカウントがアクティベートされたことを確認の上、ログインしてみましょう！</p>