<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, 'サインアップ') %>
<% provide(:title, 'サインアップ') %>

<div class="">
  <h1>参加しよう</h1>
  <%= link_to '利用規約', tos_path %>
  <%= link_to 'プライバシーポリシー', privacy_policy_path %>
  <p>これより進むと利用規約・プライバシーポリシーに同意したとみなされます</p>
  <%= link_to 'はじめる', signup_check_path %>
</div>