<% provide(:layout_type, 'header_text') %>
<% provide(:title, 'Dashboard') %>
<% provide(:header_text, 'Dashboard') %>
<% provide(:selected_nav, 'dashboard') %>

<div>
  <h2>お財布</h2>
  <p>残高 000,000 AMV</p>
</div>
<div>
  <h2>現在地</h2>
  <p>0000.000000</p>
  <p>0000.000000</p>
</div>
<div>
  <h2>とおりすがり交信</h2>
  <p>交信1人</p>
</div>
<div>
  <h2>ワールド</h2>
  <p>参加0人/最大1人</p>
</div>
<div>
  <h2>aShop</h2>
  <p>商品</p>
  <p>購入</p>
</div>
<div>
  <h2>なめらか紙芝居</h2>
  <p>参加0人/最大1人</p>
</div>
<div>
  <h2>アプリ</h2>
  <p>参加0人/最大1人</p>
</div>
<div>
  <h2>グループ</h2>
  <p>参加0人/最大1人</p>
</div>