<% provide(:layout_type, 'header_text') %>
<% provide(:title, 'Not Found - 404') %>
<% provide(:header_text, 'Not Found - 404') %>

<h1>Not Found - 404</h1>
<p>お探しのページは存在しません。</p>
<a href="/">トップへ</a>