<% provide(:layout_type, 'header_text') %>
<% provide(:title, 'Internal Server Error - 500') %>
<% provide(:header_text, 'Internal Server Error - 500') %>

<h1>Internal Server Error - 500</h1>
<p>ページを表示できませんでした。</p>
<a href="/">トップへ</a>