
<div class="tab-container" id="tab">
  <div class="tab-back">
  </div>
  <div class="tab">
    <% if @current_account %>
      現在のトレンド！
      <% if @current_account.administrator? %>
        <%= link_to '管理画面', administrator_root_path %>
      <% end %>
      <br />
      <%= link_to 'ストレージ', storage_path %>
    <% else %>
      ぜひろぐいんしてください！！
    <% end %>
  </div>
  <div>
</div>