<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, 'TL') %>
<% provide(:title, 'TL') %>

<%= render "items/form" %>
<div id="items">
  <%= render partial: 'items/item',
    collection: @items,
    as: :item,
    locals: {reactions: @reactions}
  %>
</div>