<% provide(:title, 'あなたの投稿') %>
<% provide(:layout_type, 'header_text') %>
<% provide(:header_text, 'あなたのすべての投稿') %>

<div id="items">
  <% if @items.present? %>
    <%= render partial: 'items/item',
      collection: @items,
      as: :item
    %>
    <%= render 'shared/paging', page: @page, pages: @pages, page_to: '/' %>
  <% else %>
  <div>ありません</div>
  <% end %>
</div>

<%= render 'items/new_button_1' %>