<h1>Admin tests.</h1>
<a href='test/explore'>Explore foreign activitypub-server's users.</a>
<br />
<a href='test/new'>Generate & Verify RSA key.</a>
<%= button_to 'generate ap key pair', administrations_test_generate_ap_key_pair_path, method: :post %>