body, h1, h2, h3, p {
  margin: 0;
}
html {
  scrollbar-width: thin;
}
.html-light {
  background-color: #ffffff;
  scrollbar-color: #000000 #ffffff;
}
.html-dark {
  background-color: #000000;
  scrollbar-color: #ffffff #000000;
}
a {
  text-decoration: none;
  display: inline-block;
}
:root {
  /* Main Settings */
  --color-1: white;
  --color-2: black;
  /* ↓ For Light Mode Color Palet (難しい) ↓ */
  --light-0: #e42626;
  --light-1: #e17051;
  --light-2: #e17051;
  --light-3: #e17051;
  --light-4: #e17051;
  --light-5: #e17051;
  --light-6: #be44be;
  --light-7: #f74f21;
  --light-8: #939393;
  --light-9: #4c4c4c;
  /* ↓ For Dark Mode Color Palet ↓ */
  --dark-0: #f2c384;
  --dark-1: #f77356;
  --dark-2: #95e34e;
  --dark-3: #49e2ff;
  --dark-4: #5095ff;
  --dark-5: #a77eff;
  --dark-6: #ef5dff;
  --dark-7: #ff5d76;
  --dark-8: #ababab;
  --dark-9: #e7e7e7;
}
:root .light-mode {
  --background-color: #fff;
  --font-color: #000;
  --link-color: var(--light-0);
  --border-color: #acacac;
  --transparent-background-color: #0000003f;
  --content-color: #fff;
  --shadow-color: #808080;
  --blur-color: #fff8;
  --primary-color: blue;
  --button-color: #000;
  --button-font-color: #fff;
  --hover-color: #b5b5b588;
  --inconspicuous-font-color: #6b6b6b;
  --inconspicuous-background-color: #d8d8d8;
}
:root .dark-mode {
  --background-color: #000;
  --font-color: #fff;
  --link-color: var(--dark-0);
  --border-color: #7c7c7c;
  --transparent-background-color: #00000060;
  --content-color: #141414;
  --shadow-color: #808080;
  --blur-color: #0008;
  --primary-color: darkblue;
  --button-color: #fff;
  --button-font-color: #000;
  --hover-color: #fff8;
  --inconspicuous-font-color: #bcbcbc;
  --inconspicuous-background-color: #444;
}